### **PART 1**

**Exercici 1**

Crea una llista dels messos de l'any en trimestres.

In [ ]:
any =[['gener', 'febrer','març'],['abril','maig','juny'],['juliol','agost', 'setembre'],['octubre','novembre','dessembre']]

**Exercici 2**

a.Codi per accedir al segon mes del 2 trimestre

In [ ]:
any[1][1]

'maig'

b.Mesos del 1r trimestre

In [ ]:
any[0]

['gener', 'febrer', 'març']

c.Setembre octubre

In [ ]:
print("Els messos demanats són:", any[2][2], any[3][0] )

Els messos demanats són: setembre octubre

**Exercici 3**

Llista amb nombres desordenats

In [ ]:
nombres = [0,5,2,8,4,2,3,9,10,11,15,20,21,35,56,12,4,56,23,2,89,57]

Quants nombres hi ha ?

In [ ]:
print("El total de monres que hi ha a la llista és: ", len(nombres))

El total de monres que hi ha a la llista és:  22

Quantes vegades es repeteix el nombre 3 ?

In [ ]:
nombres.count(3)

1

In [ ]:
print('El nombre 3 es repeteix ',nombres.count(3), ' vedades')

El nombre 3 es repeteix  1  vedades

Quin és el número més gran ?

In [ ]:
max(nombres)

89

Quins són els 3 nombres més petits de la llista?

In [ ]:
sorted(nombres)[:3]

[0, 2, 2]

Rango de la llista

In [ ]:
print( 'El rango de la llista és:', range(max(nombres),min(nombres)))

El rango de la llista és: range(89, 0)

**Exercici 4**
Creació del ddiccionari

In [ ]:
compra={'Pomes':{'Qty':5,'€':0.42},'Peres':{'Qty':3,'€':0.66}}

Afegir un valor al diccionari

In [ ]:
compra['Freses']={'Qty':10,'€':1.25}

Preu total de les peres

In [ ]:
print ('El preu total de les peres és :', compra['Peres']['Qty']* compra['Peres']['€'])

El preu total de les peres és : 1.98

Quantes fruites em comptat en total ?

In [ ]:
 a= sum(item['Qty'] for item in compra.values())
 print ('Em comprat:',a)

Em comprat: 18

Quina és la fruita més cara ?

In [ ]:
 max(compra, key=lambda fruta: compra[fruta]['€'])

'Freses'

# PART 2

**Exercici 1**

Classificació per notes

In [ ]:
def notes(a):
    if a < 5:
        return 'Suspès'
    elif a < 7:
        return 'Aprovat'
    elif a < 9:
        return 'Notable'
    else:
        return 'Excel·lent'

In [ ]:
notes(10)

'Excel·lent'

In [ ]:
notes(8)

'Notable'

In [ ]:
notes(4)

'Suspès'

**Exercici 2**

Crea una funció que et pregunti 2 numeros i et digui si el primes es mes gran ,si el segon és més gran o tots dos son iguals

In [ ]:
def comparar_numeros():
    num1 = float(input("Indica el primer nombre: "))
    num2 = float(input("Indica el primer nombre: "))

    if num1 > num2:
        return 'El primer nombre', num1,' és més gran que el segon nombre ',num2
    elif num2 > num1:
        return 'El primer nombre', num1 ,' és més petit que el segon nombre ',num2
    else:
        return 'Els dos números són iguals.'

In [ ]:
comparar_numeros()

Indica el primer nombre: 450
Indica el primer nombre: 45

('El primer nombre', 450.0, ' és més gran que el segon nombre ', 45.0)

In [ ]:
comparar_numeros()

Indica el primer nombre: 100
Indica el primer nombre: 100

'Els dos números són iguals.'

**Exercici 3**

Funció que pregunti nom i un número Si el número és cero surt missatge error en cas contrari repeteix el nom el número que li has indicat

In [ ]:
def repetir_nombre():
    nombre = input("Quin és el teu nom : ")
    numero = int(input("Indica un  número: "))

    if numero == 0:
        return "Error: El número no pot ser cero."
    else:
        resultat = nombre * numero
        print(resultat)

In [ ]:
repetir_nombre()

Quin és el teu nom : Jose
Indica un  número: 0

'Error: El número no pot ser cero.'

In [ ]:
repetir_nombre()

Quin és el teu nom : Jose
Indica un  número: 10
JoseJoseJoseJoseJoseJoseJoseJoseJoseJose

**Exercici 4**

Crea una funció que donada una llista qualsevol et digui si es simetrica o no i si es simetrica indiqui quants elements té

In [ ]:
def simetrica(llista):
    if llista == llista[::-1]:
        return True, len(llista)
    else:
        return False, None

In [ ]:
l1 = [1, 2, 3, 4, 3, 2, 1]
simetrica(l1)

(True, 7)

In [ ]:
l2 =[2,5,4,6,2,1]
simetrica(l2)

(False, None)

**Exercici 5**

Crea una funció que donada una llista , et digui quants números coincideixen amb la seva posició

In [ ]:
def coincidencies(llista):
    count = 0
    for i in range(len(llista)):
        if llista[i] == i:
            count += 1
    return count

In [ ]:
l1 = [0, 3, 2, 4, 5, 7, 6]
print('La quantitat de números que coincideixen amb la possició de la llista és: ', coincidencies(l1))

La quantitat de números que coincideixen amb la possició de la llista és:  3